<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Formulaire création d'évènement</h3>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-light "  href="/user/list">Utilisateur</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light "  href="/event/list">Evenement</a>
            </li>
        </ul>
    </nav>
    <br>
    <form id="formEvent">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Libellé</label>
            <div class="col-sm-9">
                <input id="libelle" name="libelle" type="text"  class="form-control" value="<%= leLibelle %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date début</label>
            <div class="col-sm-9">
                <input id="debut" name="debut" type="date" class="form-control" value="<%= leDebut %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date fin</label>
            <div class="col-sm-9">
                <input id="fin" name="fin" type="date" class="form-control" value="<%= laFin %>">
            </div>
        </div>
        <!-- listing adresses proposées  -->
        <div class="form-group">
            <label for="exampleFormControlSelect2" >Lieu</label>
                <select  class="form-control" id="selectListAdress" name= "lAdresse" >
                    <!-- Il manque un item à la collection
                        J'ai essayé d'incrémenter le plafond de la boucle
                        Une erreur survient du type impossible d' accéder à l'id...
                     -->
                    <!<% for(var i=0; i<collectionAdresses.length; i++) {%>
                        <option value = "<%= collectionAdresses[i] %>" class="form-control" ><%= collectionAdresses[i] %></option>
                    <% } %>
                </select>
        </div>
        <!---fin de la boucle-->

        <div class="row">
            <p class="col-6"></p>
            <button type="submit" class="col-2 btn btn-primary btn-sm" >Valider</button>
            <p class="col-1"></p>
            <button class="col-2 btn btn-primary btn-sm" ><link href="/">Annuler</button>
            <p class="col-1"></p>
        </div>
    </form>
</div>
<script>

  const TheForm = document.getElementById("formEvent");
  TheForm.addEventListener("submit", (e) =>{

    //annule la prise en main vers une url impossible à manipuler
    e.preventDefault();

    const requete = new XMLHttpRequest();
    requete.open("post", "/event/create");
    requete.onload = function (){

      window.location.replace("/event/list");
    }
    console.log("url done");
    requete.send(new FormData(TheForm));

  });

</script>
</body>
</html>
